<launch>

  <arg name="model" default="$(find minion_robot)/urdf/minion.urdf.xacro"/>  
  
  <!--arg name="rvizconfig" default="$(find minion_robot)/rviz/urdf.rviz" /!-->

  <include file="$(find minion_robot)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" /-->

<!--   <rosparam command="load" file="$(find minion_robot)/config/state_controller.yaml" ns="minion_joint_state_controller" />
  <rosparam command="load" file="$(find minion_robot)/config/diff_drive_controller.yaml" ns="minion_robot_controller" />
  <node name="minion_robot_controller_spawner" pkg="controller_manager" type="spawner" args="minion_joint_state_controller minion_robot_controller"/> -->
  <!--
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/mw_robot_joint_controller/cmd_vel"/>
  </node>
  -->
</launch>